.sidebar.col4
  %h2 Your Maps
  - if current_user.owned_maps.count > 0
    %ul
      - current_user.owned_maps.limit(5).each do |map|
        %li{:class => 'map-list-item'}
          = link_to map_path(map) do
            %span.map-name
              = map.name
            = image_tag map.thumbnail_image_url(:size => [212,100])
            %span.map-stats
              = pluralize map.waypoints.count, 'waypoint'
              = human_distance map.total_distance
      - if current_user.owned_maps.count > 5
        %li
          = link_to 'More Maps', '#'
  - else
    %p You don't have any maps yet.

.main.col12
  %h2 Activity

  - if @hunts.empty?
    %p All is quiet. Nothing to report.
  - else
    - @hunts.each do |hunt|
      %div.hunt-activity
        = image_tag hunt.map.thumbnail_image_url(:size => 75)
        %p
          started
          = time_ago_in_words(hunt.started_at || hunt.created_at)
          ago.
        - if hunt.finished_at?
          %p
            ended
            = time_ago_in_words hunt.ended_at
        %p
          = link_to 'View Hunt', hunt
.clear