.main.col12
  %h2 Live Hunts
  - if @active.empty?
    .hunt-activity
      %p No active hunts.
  - else
    - @active.limit(5).each do |hunt|
      %div.hunt-activity
        - link_to hunt do
          = image_tag hunt.map_progress_url(:width => 160, :height => 120)
        %p
          started
          = time_ago_in_words(hunt.started_at || hunt.created_at)
          ago.
        - if hunt.finished_at?
          %p
            finished
            = time_ago_in_words hunt.finished_at
            ago
        %p
          = link_to 'View Hunt', hunt
  - unless @recent.empty?
    %h2 Recent Hunts
    - @recent.limit(5).each do |hunt|
      %div.hunt-activity
        - link_to hunt do
          = image_tag hunt.map_progress_url(:width => 160, :height => 120)
        %p
          started
          = time_ago_in_words(hunt.started_at || hunt.created_at)
          ago.
        - if hunt.finished_at?
          %p
            finished
            = time_ago_in_words hunt.finished_at
            ago
        %p
          = link_to 'View Hunt', hunt
  
  
.clear