.narrow-form
  %h2 Sign In
  = form_for @user_session do |f|
    = field_error_list @user_session
    .input-field
      = f.label :email, "Email"
      = f.text_field :email
      = field_error_list @user_session, :email
    .input-field
      = f.label :password, "Password"
      = f.password_field :password
      = field_error_list @user_session, :password
    .form-control
      .sign-up-link
        No account?
        = link_to 'Sign Up', :signup
      = f.submit "Sign In"